<?xml version="1.0" encoding="UTF-8"?>
<suite name="SampleSuite" verbose="1" parallel="false">


<listeners>
    <listener class-name="TestMethods.ListenersClass"/>
</listeners>


    <test name="SampleTest">
        <classes>
            <class name="TestMethods.TitileUrlTest"/>
             <class name="TestMethods.ExtractUrlTest"/>
        </classes>
    </test>
    
</suite>
